<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NamazTimeApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".Activitys.BrowserActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.PostViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activitys.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kalima.KalimaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Allah99Name.AllahMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Allah99Name.AllahAr99NamAndFojilotMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.TasbihActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportentSurah.ImportantSuraActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.ContentViewActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.NamazPoddotiMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.NamazerNiyotActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.NamzerPrathomikBisoyActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.NamazerDowaMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NamazShikkha.NanazShikkahActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tools.InternetCheckActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.RakatTableActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.OjurNiyomActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kibla.CompassActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportentSurah.SuraContentView"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kalima.KalimaContentView"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Tools.FirebasePushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>